@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {

    /*for chrome, safari and opera*/
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /*ie and edge*/
        scrollbar-width: none; /* firefox */
    }

    
}
